* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul li {
    list-style: none;
    display: inline;
    margin: 0 15px;
}

a {
    color: blue;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

.card {
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    width: 450px;
    height: 500px;
    border-radius: 20px;
    position: relative;
/*    overflow: hidden;*/
}

.cover-photo {
    background-image: url(Images/388374.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 30%;
}

.profile-photo {
    background-image: url(Images/MAGPANTAY\,\ MARK\ DANIEL\ C\ \(5.1\)\ edited.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid yellow;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 17%;
    left: 2%;
}

.contacts {
    height: 50px;
    padding: 5px;
    margin: 0 0 0 100px;
    text-align: center;
}

.contacts ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacts ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 15px;
    position: relative;
    
}

.contacts ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.contacts ul li i {
    font-size: 30px;
}

.info {
    width: 100%;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    height: 50%;
}

.name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.degree {
    font-size: 20px;
}

.footer {
    display: flex;
    gap: 5px;
    text-align: center;
    background-color: green;
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 10%;
}

.left,
.right { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%;
    padding: 10px;
    background-color: red;
}

.left {
    border-radius: 0 0 0 20px;
}

.right {
    border-radius: 0 0 20px 0;
}

.show-skill {
    background-color: gray;
    background-image: url(Images/My\ picture.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(500px);
    transition: all 1.5s ease;
    z-index: 2;
}

.skill-toggle-btn {
    color: white;
    font-size: 12px;
    background-color: gray;
    text-align: center;
    position: absolute;
    width: 100px;
    top: -4%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 3px;
    border-radius: 20px 20px 0 0;
    transition: slideUp 1.3s ease 1s;
}

.skill-text {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 30px 15px 15px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.skill {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.skill i {
    font-size: 50px;
}

@media screen and (max-width: 320px) {
    .card{
        width: 300px; 
    }

    .contacts {
        height: 45px;
        margin: 5px 0 0 120px;
    }

    .contacts ul li {
        width: 25px;
        height: 25px;
    }

    .contacts ul li i {
        font-size: 20px;
    }


    .name {
        font-size: 16px;
    }

    .degree {
        font-size: 16px;
    }

    /*.show-skill {
        width: 300px;
    }*/
}

@media screen and (max-width: 375px) {
    .card{
        width: 355px; 
    }

    .contacts {
        height: 40px;
        margin: 10px 0 0 120px;
    }

    .contacts ul li {
        width: 25px;
        height: 25px;
    }

    .contacts ul li i {
        font-size: 20px;
    }


    .name {
        font-size: 16px;
    }

    .degree {
        font-size: 16px;
    }

    /*.show-skill {
        width: 355px;
    }*/
}

@media screen and (max-width: 425px) {
    .card{
        width: 405px; 
    }

    .contacts {
        margin: 0 0 0 120px;
    }

    /*.show-skill {
        width: 405px;
    }*/
}