* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul li {
    list-style: none;
    display: inline;
    margin: 0 15px;
}

a {
    color: blue;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

.card {
    background-color: red;
    width: 450px;
    height: 500px;
    border-radius: 20px;
    position: relative;
}

.cover-photo {
    background-image: url(Images/388374.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 30%;
}

.profile-photo {
    background-image: url(Images/MAGPANTAY\,\ MARK\ DANIEL\ C\ \(5.1\)\ edited.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid yellow;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 18%;
    left: 2%;
}

.info {
    background-color: yellow;
    /* border-radius: 0 0 20px 20px; */
    width: 100%;
    /* height: 70%; */
    padding: 10px;
    text-align: center;
}

.name {
    background-color: gray;
    margin-left: 100px;
    text-align: center;
}

.contacts {
    background-color: orange;
    padding: 15px;
}